body {
  
}

.space {

	padding: 20px;
}

.hide-info{

	display: none;
}

.show-info{

	display: inline-block;
}

.small-padding{padding-top:0}

.space-cell{
padding: 20px;

}

.space{
	
	padding: 10px;
}

.show-content{

	display:inline-flex;
}

.hide-content{
	display:none;
}

.no-space{
	padding: 0px;
	margin: 0px;
}

.no-space{

	margin: 0;
	padding-right:0px;
}


      


