.is-color{

	background-color: red;
}

.space {

	padding: 20px;
}

.hide-info{

	display: none;
}

.show-info{

	display: inline-block;
}

.small-padding{padding-top:0}

.space-cell{
padding: 20px;

}

